body > header {
  display: block;
  position: fixed;
  background-color: yellow;
  height: 75px;
  width: 100%;
  top: 0px;
}

main {
  margin-top: 100px;
}

main section:nth-of-type(1n+2) {
  margin-left: 30px;
}

header h2, .footer h2 {
  float: left;
}

header h2 {
  padding-left: 20px;
}

header h2 a, nav ul li a {
  text-decoration: none;
}

nav ul {
  float: right;
  clear: both;
  margin-right: 30px;
  vertical-align: middle;
  margin-top: 25px;
}

.header ul li {
  display: inline-block;
  margin-right: 20px;
}

.header ul {
  list-style: none;
}

.header > ul {
  position: absolute;
  right: 0px;
}

header h2 {
  text-align: center;
}

.top-banner > h1 {
  vertical-align: middle;
  text-align: center;
  padding: 50px;
  height: 3em;
  background: url("../assets/hero.jpg") 100% no-repeat;
  margin-top: -25px;
  padding-top: 100px;
}

.posts {
  margin: 0 auto;
}

.posts > h2, .posts h3, .posts article p:last-of-type {
  text-align: center;
}

.posts h3 {
  height: 2em;
  vertical-align: middle;
}
main section:first-child > h1 {
  clear: both;
}

.posts > article {
  width: 25%;
  float: left;
  margin: 15px 10px;
  padding: 0px 10px;
  border: black 2px solid;
  border-radius: 10px;
}

.posts article p:first-of-type {
  text-align: justify;
  border-top: black 2px solid;
  padding: 10px;
  /*height: 6.5em;*/
}

.posts article p:last-of-type a {
  text-decoration: none;
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0;
}

.join-club {
  clear: both;
  display: block;
}

.join-text {
  float: left;
  text-align: justify;
  width: 35%;
}

.join-text h2 {
  text-align: center;
}

img#join-club-pic {
  width: 55%;
  /*float: right;*/
  margin: 20px;
}

.everybody-cat {
  clear: both;
  width: 100%;
  /*background-color: blue;*/
  height: auto;
  background-image: url("../assets/everybody.jpg");
}

.everybody-cat h2 {
  vertical-align: middle;
  font-size: 3em;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  padding: 40px 0;
}

.disclaimer-section {
  width: 40%;
  text-align: justify;
  position: absolute;
  padding: 20px 0;
  font-size: .75em;
}

.disclaimer-section h4, .disclaimer-section p {
  display: inline;
}

.footer nav {
  float: right;
  padding-right: 50px;
}

footer {
  margin-left: 30px;
}
