@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

h1 {
  font-family: "Josefin Sans";
}

h1 {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

* {
  /*margin: 0;*/
  padding: 0;
}

p, a, h3 {
  font-family: helvetica, sans-serif;
}

body > header {
  width: 100%;
  display: block;
  position: fixed;
  background-color: gold;
  height: 75px;
  top: 0px;
}

main {
  margin-top: 100px;
}


main section:not(:last-child, :first-child) {
  margin-left: 30px;
}

header h2, .footer h2 {
  float: left;
}

header a {
  padding-left: 20px;
  color: green;
}

header h2 a, nav ul li a {
  text-decoration: none;
}

nav ul {
  float: right;
  clear: both;
  margin-right: 30px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
}

header nav ul {
  margin-top: 25px;
}

.header ul li {
  display: inline-block;
  margin-right: 20px;
}

.header ul {
  list-style: none;
}

header h2 a {
  vertical-align: middle;
  margin-top: 20px;
}

.top-banner > h1 {
  vertical-align: middle;
  text-align: center;
  padding: 50px;
  height: 2em;
  background-image: url("../assets/hero.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin-top: -25px;
  padding-top: 100px;
  font-size: 3em;
}

main section:first-child > h1 {
  clear: both;
}

main > h2 {
  text-align: center;
}

article > section {
  display: block;
}

.post-name {
  padding: 20px;
  font-family: "Josefin Sans";
}

.post-text {
  float: left;
  text-align: justify;
  width: 50%;
  margin-left: 30px;
}

.article-text, article img {
  padding: 10px 0px;
}

.article-text {
  line-height: 1.25em;
}

.images {
  margin-right: 30px;
}

.article-image, .caption {
  float: right;
  width: 28%;
}

.image-plus-caption img:nth-of-type(1n+2) {
  margin-top: 50px;
}

.caption {
  font-style: italic;
  display: block;
}

.images .caption {
  margin-bottom: 10px;
  text-align: center;
  color: green;
}

.return-to-home {
  clear: both;
  margin-bottom: 135px;
  padding-top: 40px;
  text-align: center;
}

.return-to-home a {
  text-decoration: none;
  border: black 2px solid;
  color: green;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
}

.return-to-home a:hover {
  color: black;
  background-color: gold;
}

.disclaimer-section {
  width: 40%;
  text-align: justify;
  position: absolute;
  padding: 20px 0;
  font-size: .5em;
}

.disclaimer-section h4, .disclaimer-section p {
  display: inline;
}

.footer ul {
  float: right;
  padding-right: 35%;
}

.footer li, .footer a {
  color: green;
}

footer {
  padding-left: 30px;
  position: fixed;
  height: 75px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top: black 2px solid;
}

footer nav ul {
  margin-top: 15px;
}
